<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <add key="default" value="Server=60b9c76e-f8a7-495e-b7cc-a34100a475b2.sqlserver.sequelizer.com;Database=db60b9c76ef8a7495eb7cca34100a475b2;User ID=dwjuhzqjmldpijdq;Password=gixr8a4h27u4m2ZppeGSjapJ7XYFFArZ3HCmtqViao5sHSiKJ2uqVwDf3VtijwJz"/>
  </appSettings>
</configuration>
